<p style="color: green"><%= notice %></p>
<p>
<%= image_tag(@item.cover, size: "200x200") %>


</p>

<p>
<%= @item.uploads.each do |u|%>
<%= image_tag(u, size: "200x200") %>



<%end%>
</p>
<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>


  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
